<div id="home">
 <div class="container">
   <div class="row">
     <div class="col-md-6">
       <h1>{{msg}}</h1>
       <h2 class="animated bounceInRight">PIZZERIA PLAZA</h2>
       <form class="clearfix mb-4" action="POST">
         <div class="form-group">
           <label for="search-heading">Enter Your Pizza</label>
           <input type="text" id="pizza-enter" class="form-control" aria-describedby="example-text"
             placeholder="BBQ Chicken Pizza">
         </div>
         <br />
         <h2 class="title-heading">Our Toppings</h2>
         <div class="pizza-buttons">
           <div class="btn-group" role="group" aria-label="Basic example">
           </div>
         </div>
         </br> </br> </br> </br>
         <div>
           <h2>Your toppings:</h2>
           <br>
           <div class="userToppings"></div>
         </div>
         {{!-- <h2>Your Pizza:</h2>
         <br /> </br> </br> </br> </br> </br> </br> --}}
         <button type="button" class="btn btn-danger" id="submit">Submit</button>
       </form>
     </div>
     <div class="row">
       <div class="col-md-12">
         <h2>Your Previous Pizzas:</h2>
         <ul>
           {{#each saved}}
           <li>
             <p>ID: {{this.id}}</p>
             <p>Task: {{this.saved}}</p>
           </li>
           {{/each}}
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
 integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../public/styles/styles.css">