  <div class="mainTitle">
    <h1 id= "mainLogo" class="animated bounceInRight">PIZZERIA PLAZA</h1>

  </div>
  
  
  <div class ="containerOneTwo">
  <div class= "containerOne">
        <div class="fixed-top">
`       <div class ="row" id ="nav">
        <div class ="col-md-4"> 
            <h1 class="animated bounceInRight infinite" id="main-logo">PIZZERIA ||||
                PLAZA|||||</h1>
        </div>
        <div class="col-md-2 animated bounceInRight" id="bars">|||||||||||</div>

        <div class = "col-md-3"> 
            <img id="logo" class= "logo animated slideInRight infinite" src="https://img.icons8.com/plasticine/100/000000/pizza.png">
        </div>
    </div>
  </div>



<!-- <div class ="row">
    </br> </br> </br></br> </br> </br>
     <div class ="col-md-6">
            <button>Menu</button>
        </div>
    </div>
</div> -->


  <!-- <div class="containerTwo">
      <div class="row">
        <div class="col-md-6">

          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <input type="text" id="pizza-enter" class="form-control animated fadeIn" aria-describedby="example-text" placeholder="BBQ Chicken Pizza">
              <label for="search-heading" id="searchTxt">Enter Your Pizza</label>
            </div>
            <br/>

          <h2 class="title-heading animated fadeIn" id="toppingsHead" class="heading">Toppings</h2>
          <div class ="pizza-buttons">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn-danger" id="pep">PEPPERONI</button>
            <button type="button" class="btn-success">GARLIC</button>
            <button type="button" class="btn-danger">BEEF</button>
            <button type="button" class="btn-danger" id="ham">HAM</button>
            <button type="button" class="btn-danger">SALAMI</button>
            <button type="button" class="btn-dark" id="mush">MUSHROOM</button>
            
            <button type="button" class="btn-danger">BACON</button>
            <button type="button" class="btn-dark">ONION</button>
          </div>
        </br> </br> </br>

            <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn-danger">SAUSAGE</button>
            
            <button type="button" class="btn-warning">FETA CHEESE</button>
            <button type="button" class="btn-warning" id="pine">PINEAPPLE</button>
            <button type="button" class="btn btn-success">BASIL</button>
            
          </div>

        </br> </br> </br>
        <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success">OLIVES</button>
        <button type="button" class="btn-success">OREGANO</button>
        <button type="button" class="btn-warning" id="chick">CHICKEN</button>
        
        <button type="button" class="btn btn-success">JALEPENO PEPPERS</button>
        </div>

    </br> </br> </br>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn-danger">CRUSHED RED PEPPERS</button>
    
    <button type="button" class="btn-success">SPINACH</button>
    <button type="button" class="btn btn-warning">BUFFALO SAUCE</button>
    <button type="button" class="btn-danger">CHILI</button>
    </div>

    </br> </br> </br> </br>
    </div> -->
  
          <!-- </br> </br>
  
          <h2 id="yourPizza">Your Pizza:</h2>
          <div class="pizzaInfo">

          </div>
          <br/> </br> </br> </br> </br> </br> </br>
  
           <button type="button" class="btn btn-danger" id="submit">Submit</button>
          </form>
        </div>
        <br/> </br> </br> </br> </br> </br > </br>
        <div class = "row"> 
        <div class="col-md-12" id="pizzaList">
          <h2>Welcome to the Pizzeria Plaza</h2>
          <button href=".containterOne"> Begin</button>
          <ul>
            {{#each saved}}
            <li>
           <p>ID: {{this.id}}</p>
         <p>Task: {{this.saved}}</p>S
          </li>
            {{/each}}
        </ul>
        </div>
        </div>
      </div>
    </div> -->
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $("#pep").on("click", function(){
        console.log("'Pepperoni'");
        $(".pizzaList").html("Pepperoni");
    })
    </script>
  

  <script src="/js/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <script src="your_path/choreographer.min.js"></script>
  <link href ="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" rel = "stylesheet">
  <link href ="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel ="stylesheet">
  <link rel ="stylesheet" href="../public/styles/animate.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel = "stylesheet" type ="text/css" href = "../public/styles/reset.css">
  <link rel ="stylesheet" type="text/css" href="../public/styles/styles.css">
  